<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
    <a href="/"><button class="btn">HOME</button></a>
    <% if(data.length> 0){ %>
        <% for (let i=0; i<data.length; i++){ %>
    <div id="details">
        <div id="pic">
            <img src="<%= data[i].photopath %>" alt="">
        </div>
        <div id="info">
            <h3>TECH CONCLAVE 2022</h3>
            <table>
                <tr>
                    <td>Name:</td>
                    <td> <%=data[i].name %></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td> <%=data[i].email %></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td> <%=data[i].phone %></td>
                </tr>
                <tr>
                    <td>Topic:</td>
                    <td> <%=data[i].topic %></td>
                </tr>
            </table>
        </div>
        <form action="/deleteData/<%= data[i].id%>">
            <button type="submit" class="btn">DELETE</button>
        </form>
        <a href="/editData/<%= data[i].id %>"
            ><button class="btn btn-warning">EDIT</button></a
          >
    </div>
    <% }%>
    <% } %>
</body>
</html>